/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #313f38;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ============== /COMMON STYLES ============== */

/* ============== MOBILE HEADER ============== */

.address {
    display: none;
}

.header-menu-link {
    display: none;
}

.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #fffcf6;
}

.menu-burger-btn {
    background: transparent;
    border: none;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.button-scroll-down {
    display: none;
}

.hero-form-info {
    display: none;
}

.hero-contact {
    display: none;
}

.hero-definition-title {
    display: none;
}

.hero {
    padding-bottom: 40px;
}

.hero-title {
    font-family: "Elsie", sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    color: #fffcf6;
    padding-bottom: 30px;
}

.hero-hotel {
    color: #fcd043;
}

.hero-hotel-menu {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fcd043;
    border-bottom: 1px solid #fffcf6;
    padding-bottom: 20px;
}

.hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.hero-hotel-definition {
    max-width: 291px;
    
    padding-top: 20px;
}

.hero-definition-description {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.64286;
    text-align: center;
    color: #fffcf6;
    opacity: 0.8;
}

.hero-contacts {
    padding-top: 40px;
}

.menu-address {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #fffcf6;
}

.hero-photo {
    position: relative;
}

.hero-photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 130px;
    left: -20px;
    background: url(./icons/button\ -\ default.svg) right no-repeat;
    z-index: 999;
}

/* ============== /MOBILE HERO ============== */

/* ============== MOBILE ABOUT US ============== */

.about-photo-base-label {
    display: none;
}

.about-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-top-title {
    font-family: "Elsie", sans-serif;
    font-weight: 400;
    font-size: 60px; 
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
    color: #fcd043;
    padding-bottom: 60px;
}

.top-title {
    color: #fffcf6;
}

.about-top-text {
    display: flex;
}

.about-photo-base {
    padding-bottom: 60px;
}

.about-title {
    font-family: "Elsie", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    text-transform: capitalize;
    color: #fffcf6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.76923;
    color: #fffcf6;
    opacity: 0.8;
    max-width: 293px;
}

.about-text {
    background: url(./icons/icon-label.svg) top -15px right no-repeat;
}

/* ============== /MOBILE ABOUT US ============== */

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }

/* ============== TABLET HEADER ============== */

/* ============== /TABLET HEADER==============*/

/* ============== TABLET HERO ============== */

.hero-definition-title {
    display: none;
}

.hero-photo::after {
    display: none;
}

.button-scroll-down {
    display: block;
}

.hero-form-info {
    display: block;
}

.hero-contact {
    display: block;
}

.hero-title {
    font-size: 120px;
}

.hero-hotel-menu {
    font-size: 14px;
    border-bottom: none;
}

.hero-definition-description {
    font-size: 13px;
    line-height: 1.76923;
    text-align: left;
}

.hero-hotel-definition {
    max-width: 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.button-scroll {
    background: transparent;
    border: none;
    margin-top: 25px;
}

.hero-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.form-button {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.42857;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    width: 248px;
    height: 100px;
    background: #fcd043;
    border: none;
}

.form-button:hover,
.form-button:focus {
    color: black;
}

.form-time-info {
    width: 305px;
    height: 100px;
    backdrop-filter: blur(40px);
    background: rgba(49, 63, 56, 0.48);
    opacity: 0.9;
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.66667;
    text-transform: uppercase;
    color: #fffcf6;
    padding: 40px 20px;
    border: none;
}

.form-info {
    width: 858px;
    height: 100px;
    display: flex;
    margin-left: 125px;
}

.hero-form-info{
    margin-top: -100px;
    position: relative;
}

.hero-contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-address {
    font-size: 16px;
}

.contact-tel {
    color: #fcd043;
}

.hero-contacts-item {
    padding-bottom: 10px;
}

/* ============== /TABLET HERO ============== */

}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

/* ============== LAPTOP HEADER==============*/

.menu-burger-btn {
    display: none;
}

.address {
    display: block;
}

.header-menu-link {
    display: flex;
    align-items: center;
    gap: 70px;
}

.page-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-navigation {
    display: flex;
    gap: 220px;
}

.logo {
    font-weight: 400;
    font-size: 20px;
}

.menu-link {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.42857;
    text-transform: uppercase;
    color: #fffcf6;
}

.menu-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fffcf6;
}

/* ============== /LAPTOP HEADER==============*/

/* ============== LAPTOP HERO ============== */

.hero-top {
    padding-bottom: 60px;
}

.hero-title {
    font-size: 170px;
    padding-bottom: 40px;
}

.hero-hotel-menu {
    font-size: 18px;
}

.hero-definition-title {
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #fffcf6;
    border-radius: 100px;
    border: 1px solid #fffcf6;
    width: 249px;
    height: 70px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./icons/icon-star.svg) 30px no-repeat;
}

.hero-definition-description {
    font-size: 16px;
    line-height: 1.625;
    width: 350px;
}

.hero-hotel-definition {
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    padding-top: 30px;
}

.icon-scroll-down {
    width: 70px;
    height: 70px;
}

.hero-form-info {
    margin-top: -125px;
}

.form-info {
    width: 1100px;
    height: 125px;
    margin-left: 300px;
}

.form-time-info {
    width: 368px;
    height: 125px;
    font-size: 16px;
    line-height: 1.25;
}

.form-button {
    width: 368px;
    height: 125px;
    font-size: 18px; 
    line-height: 1.11111;
}

.hero-contacts {
    padding-top: 60px;
}

.menu-address {
    font-size: 22px;
    text-decoration-skip-ink: none;
}

.contact-tel {
    color: #fcd043;
}

/* ============== /LAPTOP HERO ============== */

}

@media screen and (min-width: 1920px) {
.container {
        max-width: 1920px;
        padding-left: 30px;
        padding-right: 30px;
    }

/* ============== DESKTOP HEADER ============== */

.page-navigation {
    gap: 440px;
}

/* ============== /DESKTOP HEADER ============== */

/* ============== DESKTOP HERO ============== */

.hero {
    padding-bottom: 80px;
}

.hero-top {
    padding-bottom: 80px;
}

.hero-title {
    font-size: 220px;
    line-height: 0.90909;
    padding-bottom: 60px;
}

.hero-hotel-menu {
    font-size: 26px;
}

.hero-definition-description {
    font-size: 18px; 
    line-height: 1.55556;
}

.hero-hotel-definition {
    gap: 120px;
}

.form-info {
    margin-left: 0;
}

.hero-contacts {
    padding-top: 80px;
}

.menu-address {
    font-size: 26px;
}

/* ============== /DESKTOP HERO ============== */

}