/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #313f38;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ============== /COMMON STYLES ============== */

/* ============== MOBILE HEADER ============== */

.address {
    display: none;
}

.header-menu-link {
    display: none;
}

.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #fffcf6;
}

.menu-burger-btn {
    background: transparent;
    border: none;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero-contact {
    display: none;
}

.hero-definition-title {
    display: none;
}

.hero {
    padding-bottom: 40px;
}

.hero-title {
    font-family: "Elsie", sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    color: #fffcf6;
    padding-bottom: 30px;
}

.hero-hotel {
    color: #fcd043;
}

.hero-hotel-menu {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fcd043;
    border-bottom: 1px solid #fffcf6;
    padding-bottom: 20px;
}

.hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-hotel-definition {
    max-width: 291px;
    
    padding: 20px 0 40px 0;
}

.hero-definition-description {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.64286;
    text-align: center;
    color: #fffcf6;
    opacity: 0.8;
}

.hero-contacts {
    padding-top: 40px;
}

.menu-address {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #fffcf6;
}

.hero-photo {
    position: relative;
}

.hero-photo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 130px;
    left: -20px;
    background: url(./icons/button\ -\ default.svg) right no-repeat;
    z-index: 999;
}

/* ============== MOBILE HERO ============== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }

/* ============== TABLET HEADER ============== */

/* ============== /TABLET HEADER==============*/

}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

/* ============== LAPTOP HEADER==============*/

.menu-burger-btn {
    display: none;
}

.address {
    display: block;
}

.header-menu-link {
    display: flex;
    align-items: center;
    gap: 70px;
}

.page-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-navigation {
    display: flex;
    gap: 220px;
}

.logo {
    font-weight: 400;
    font-size: 20px;
}

.menu-link {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.42857;
    text-transform: uppercase;
    color: #fffcf6;
}

.menu-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fffcf6;
}

/* ============== /LAPTOP HEADER==============*/

}

@media screen and (min-width: 1920px) {
.container {
        max-width: 1920px;
        padding-left: 30px;
        padding-right: 30px;
    }

/* ============== DESKTOP HEADER ============== */

.page-navigation {
    gap: 440px;
}

/* ============== /DESKTOP HEADER ============== */

}